body{
    font-family: 'Poppins', sans-serif; 
    margin: 0;
} 
.flexible-section{
    display: flex;
} 
.half{
    width: 40%; 
   padding-left: 5%;
} 
.half img{
    width: 90%;
} 
h1{
    font-size: 50px;
} 
.orange{
    color: orange;
} 
.link-button{
    text-decoration: none; 
    background-image: radial-gradient(orange, tomato) ; 
    padding: 10px 30px; 
    color: rgb(32, 17, 45); 
    font-weight: 700;
    border-radius: 5px;
} 
.top-banner{
    background-image: url(images/top-banner.png); 
    background-repeat: no-repeat;
}  
h2{
    font-size: 40px ;
} 
.second-link{
    text-decoration: none;
    background-image:linear-gradient(orange, tomato);
    padding: 10px 40px ; 
    border-radius: 5px; 
    color: aqua; 
    font-weight: 700; 
   
}   
.second-banner{
    background-image: url(images/dream-bg.png); 
    background-repeat: no-repeat; 
    background-position: right;
}
.frontend{
    width: 40%; 
    box-shadow: 10px 10px 40px gray; 
    margin-left: 5%;
    margin-bottom: 5%; 
    padding-left: 20px; 
    padding-right: 10px; 
    padding-bottom: 20px; 
    border-radius: 5px;
}  
.boro{
    border-left: 7px solid orange;
} 
.majari{
    border-left: 7px solid blue;
}
.choto{
    color: orange;
}
.final-banner{
    background-image: url(images/exp-bg.png); 
    background-repeat: no-repeat; 
    background-position: left;
}
footer p{
    text-align: center;
}